.nav-btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem

}


.nav-btn {
    background: none;
    border: 1.5px solid var(--accent-color);
    font-family: 'Cormorant Unicase';
    color: var(--text-color);
    text-decoration: underline;
    
    height: 2.5rem;
    width: 13rem;
   


}