.thank-you-container {
    position: absolute;
    top: 26rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center
}

.thank-you-title {
    font-size: 4rem;
    text-align: center
}

.thank-you-p {
    font-size: 1.8rem;
    text-align: center;
    width: 90%
}