html {
  --primary-color: #8B0909;
  --secondary-color: #80060B;
  --accent-color: #0C0B0B;
  --text-color: #F6F4F4;
}

#root {
  height: 100%;
  width: 100%
}

h1 {
  font-family: 'True Lies';
  font-size: 4.8rem;
  font-weight: 300;
  color: var(--text-color);
  text-align: center;
}


.order-form-container {
  position: absolute;
  top: 27%;
  left: 0
}

.homepage {
  height: 80%
}

.general-info-container {
  position: absolute;
  top: 74rem;
  left: 0
}

