@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'anvil';
  src: url('src/fonts/Anvil-8eO2.ttf'), format('truetype')
}

* {
  padding: 0;
  margin: 0;
}

:root {
  height: 100svh;
  width: 100svw;
  
  font-size: 10px;
  font-family: 'Cormorant Unicase';
  color: var(--text-color);
}

body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  background: var(--primary-color);
  margin: 10px 0
}

